<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Template <small><%= @template.name %></small>
        </h1>
    </div>
</div>

<div class="row">
 <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
       <div class="panel-body">
          <div class="text-center">
             <h3 class="mt0"><%= @template.name %></h3>
             <p>(Created by <%= @template.user.name %>)</p>
             <p>Type: <%= @template.method_of_communication %></p>
          </div>
          <% unless @template.task_description == "" || @template.task_description == nil %>
              <hr/>
              <div class="text-center">
                 <p><%= @template.task_description %></p>
              </div>
          <% end %>    
          <hr/>
          <% if @template.user == current_user %>
              <a href="<%= edit_user_template_path(@user.id, @template.id) %>" class="media p mt0 list-group-item text-center text-muted">Edit Template</a></br>
              <%= link_to 'Delete Template', user_template_path(@user.id, @template.id), :method => :delete,
                  data: { confirm: 'Are you sure you want to permanently delete this template?' }, :type => "button",
                  :class => 'list-group-item text-center p btn-danger text-danger' %>
          <% end %>
       </div>
    </div>
 </div>
</div>