<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Profile <small><%= @user.name %></small>
        </h1>
    </div>
</div>

<!-- Body -->

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @user.contacts.count %></div>
                        <div><%= "Contact".pluralize(@user.contacts.count) %></div>
                    </div>
                </div>
            </div>
            <a href="<%= user_contacts_path(@user.id) %>"> 
                <div class="panel-footer">
                    <span class="pull-left">View Contacts</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">12</div>
                        <div>Tasks Due (pluralize)</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">View task details below</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-file-text fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @user.templates.count %></div>
                        <div><%= "Template".pluralize(@user.templates.count) %></div>
                    </div>
                </div>
            </div>
            <a href="<%= user_templates_path(@user.id) %>">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-star fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @user.points %></div>
                        <div><%= "Point".pluralize(@user.points) %></div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">Complete tasks to earn points!</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
     <div class="col-lg-4 col-lg-offset-1">
        <div class="panel panel-default">
           <% unless @user.contacts_for_today.empty? %>
              <div class="panel-heading">Tasks Stuff</div>
              <div class="list-group">
                 <% @user.contacts_for_today.each do |contact| %>
                    <a href="<%= user_contact_path(@user.id, contact.id) %>" class="list-group-item">
                       <em class="pull-right fa fa-square-o fa-lg fa-fw text-muted mt"></em>
                       <h4 class="list-group-item-heading">Contact <%= contact.name %></h4>
                    </a>
                 <% end %>
              </div>
           <% else %>
              <div class="panel-heading"><b>NO TASKS DUE</b></div>
           <% end %>
           <a href="<%= user_templates_path(@user.id) %>" class="media p mt0 list-group-item text-center text-muted">View task templates</a>
        </div>
     </div>
     <div class="col-lg-4 col-lg-offset-2">
        <div class="panel panel-default">
           <div class="panel-heading">
              <a href="<%= new_user_contact_path(@user.id) %>" class="pull-right">Add New
                 <em class="icon-plus text-muted"></em>
              </a><a href="<%= user_contacts_path(@user.id) %>">Contacts</a></div>
           <div class="list-group">
              
              <% contacts_by_days_since_task_date_with_limit(@user).each do |contact| %>
                 <a href="<%= user_contact_path(@user.id, contact.id) %>" class="media p mt0 list-group-item">
                    <span class="pull-right">
                       <%= contact_status_color(contact) %>
                    </span>
                    <!--<span class="pull-left">-->
                       <!-- Contact avatar-->
                    <!--   <img src="" alt="Image" class="media-object img-circle thumb32" />-->
                    <!--</span>-->
                    <!-- Contact info-->
                    <span class="media-body">
                       <span class="media-heading">
                          <strong><%= contact.name %></strong>
                          <br/>
                          <small class="text-muted"><%= contact.email %></small>
                       </span>
                    </span>
                 </a>
              <% end %>
              <!-- END User status-->
              <a href="<%= user_contacts_path(@user.id) %>" class="media p mt0 list-group-item text-center text-muted">View all contacts</a>
           </div>
        </div>
     </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Task Progress</h3>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <!-- tasks still to go / @user.user_tasks_array.size -->
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">Stuff</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Task Progress</h3>
            </div>
            <div class="panel-body">
                <p><%= @user.user_tasks_array %></p>
            </div>
        </div>
    </div>
</div>